@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #2b0707 100%);
    /* https://patterncraft.fun/ */
    color: white;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 10px 5px 5px red;
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(rgb(27, 7, 7), green, blue, 0.4);
    box-shadow: 10px 5px 5px red;
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left {
    font-size: 4rem;
}


.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgb(red, green, blue, 0.65)
}

.twitter-buton:hover {
    color: #38a1f3
}

.fa-twitter {
    font-size: 1.5rem;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }
}

.quote-text {
    font-size: 2.5rem;
}